@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(210 20% 99%);
	--foreground: hsl(222.2 84% 4.9%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(222.2 84% 4.9%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(222.2 84% 4.9%);
	--primary: hsl(214 89% 52%);
	--primary-foreground: hsl(210 20% 98%);
	--secondary: hsl(210 40% 92.1%);
	--secondary-foreground: hsl(222.2 47.4% 11.2%);
	--muted: hsl(210 40% 96.1%);
	--muted-foreground: hsl(215.4 16.3% 46.9%);
	--accent: hsl(45 93% 59%);
	--accent-foreground: hsl(222.2 84% 4.9%);
	--destructive: hsl(0 84.2% 60.2%);
	--destructive-foreground: hsl(210 20% 98%);
	--success: hsl(99 80% 50.9%);
	--success-foreground: hsl(210 20% 98%);
	--border: hsl(214.3 31.8% 91.4%);
	--input: hsl(214.3 31.8% 91.4%);
	--ring: hsl(214 89% 52%);
	--chart-1: hsl(214 89% 52%);
	--chart-2: hsl(45 93% 59%);
	--chart-3: hsl(215.4 16.3% 46.9%);
	--chart-4: hsl(0 84.2% 60.2%);
	--chart-5: hsl(210 40% 96.1%);
	--sidebar: hsl(210 20% 98%);
	--sidebar-foreground: hsl(222.2 84% 4.9%);
	--sidebar-primary: hsl(214 89% 52%);
	--sidebar-primary-foreground: hsl(210 20% 98%);
	--sidebar-accent: hsl(45 93% 59%);
	--sidebar-accent-foreground: hsl(222.2 84% 4.9%);
	--sidebar-border: hsl(214.3 31.8% 91.4%);
	--sidebar-ring: hsl(214 89% 52%);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 1rem;
	--shadow-spread: 0rem;
	--shadow-opacity: 0.1;
	--shadow-color: hsl(222.2, 84%, 4.9%);
	--shadow-2xs: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.05);
	--shadow-xs: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.05);
	--shadow-sm:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.1);
	--shadow: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.1);
	--shadow-md:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1), 0px 2px 4px -1px hsl(222.2 84% 4.9% / 0.1);
	--shadow-lg:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1), 0px 4px 6px -1px hsl(222.2 84% 4.9% / 0.1);
	--shadow-xl:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1), 0px 8px 10px -1px hsl(222.2 84% 4.9% / 0.1);
	--shadow-2xl: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.25);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: hsl(210 5% 11%);
	--foreground: hsl(210 20% 98%);
	--card: hsl(210 5% 16%);
	--card-foreground: hsl(210 20% 98%);
	--popover: hsl(210 5% 16%);
	--popover-foreground: hsl(210 20% 98%);
	--primary: hsl(214 89% 52%);
	--primary-foreground: hsl(210 20% 98%);
	--secondary: hsl(210 5% 20%);
	--secondary-foreground: hsl(210 20% 98%);
	--muted: hsl(210 5% 16%);
	--muted-foreground: hsl(215 20.2% 65.1%);
	--accent: hsl(45 93% 59%);
	--accent-foreground: hsl(0 100% 98.0392%);
	--destructive: hsl(0 84.2% 60.2%);
	--destructive-foreground: hsl(210 20% 98%);
	--success: hsl(99 100% 38.9%);
	--success-foreground: hsl(210 20% 98%);
	--border: hsl(210 5% 21%);
	--input: hsl(210 5% 25%);
	--ring: hsl(214 89% 52%);
	--chart-1: hsl(214 89% 52%);
	--chart-2: hsl(45 93% 59%);
	--chart-3: hsl(215 20.2% 65.1%);
	--chart-4: hsl(0 62.8% 30.6%);
	--chart-5: hsl(210 5% 16%);
	--sidebar: hsl(210 5% 11%);
	--sidebar-foreground: hsl(210 20% 98%);
	--sidebar-primary: hsl(214 89% 52%);
	--sidebar-primary-foreground: hsl(210 20% 98%);
	--sidebar-accent: hsl(45 93% 59%);
	--sidebar-accent-foreground: hsl(210 5% 21%);
	--sidebar-border: hsl(210 5% 21%);
	--sidebar-ring: hsl(214 89% 52%);
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 1rem;
	--shadow-spread: 0rem;
	--shadow-opacity: 0.2;
	--shadow-color: hsl(222.2, 84%, 4.9%);
	--shadow-2xs: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1);
	--shadow-xs: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.1);
	--shadow-sm:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.2), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.2);
	--shadow: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.2), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.2);
	--shadow-md:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.2), 0px 2px 4px -1px hsl(222.2 84% 4.9% / 0.2);
	--shadow-lg:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.2), 0px 4px 6px -1px hsl(222.2 84% 4.9% / 0.2);
	--shadow-xl:
		0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.2), 0px 8px 10px -1px hsl(222.2 84% 4.9% / 0.2);
	--shadow-2xl: 0px 4px 1rem 0rem hsl(222.2 84% 4.9% / 0.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

body {
	letter-spacing: var(--tracking-normal);
}
@layer base {
	* {
		@apply border-border antialiased outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-2xl font-semibold;
	}
	h3 {
		@apply text-xl font-semibold;
	}
	h4 {
		@apply text-lg font-semibold;
	}
	h5 {
		@apply text-base font-semibold;
	}
}

@layer utilities {
	@keyframes fast-slow {
		0% {
			transform: rotate(0deg);
			animation-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1); /* accelerate */
		}
		70% {
			transform: rotate(300deg);
			animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1); /* slow near top */
		}
		100% {
			transform: rotate(360deg);
			animation-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1); /* accelerate back down */
		}
	}

	.animate-fast-slow {
		animation: fast-slow 1s infinite;
	}
}
